#3Dcontainer {
	border:1px solid black;
	width: 1000px;
	height: 800px;	
}

#loading {
    background-color: #d3d3d3;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 100px;
    left: 100px;
}